{% extends "index3.html" %}
<div class="container centered">
{% block title %}
 <span>Приветствуем тебя, {{Guest}} </span>

<span>        на нашем сайте.</span>
{% endblock %}
</div>
{% block main%}
        <div class="container-fluid mt-2" style="background-color: #eee;">
             <div class="container">
                 <div class="row">
                        <h2>Спутниковое ТВ & Спутниковый интернет</h2>
                          <p>
                            1 Наше предприятие оказывает услуги по установке спутникового телевидения и спутникового интернета. Если Вам необходим интернет в частном секторе  в городе,  интернет в селе или в загородном доме  или интернет на дачу -  интернет будет там, где он действительно нужен ! Высокоскоростной доступ обеспечивается от спутника, который на 100% покрывает все регионы Украины, покрытие имеется во всех городах и сёлах Украины. Убедиться в этом можно, посмотрев ссылку спутник ka-sat 9E</p>

                     <div class="col">

                         <div class="card" style="width: 25rem;">
                           <img src="/static/img/7.jpg" alt="sura" class="mw-100">
                         </div>
                     </div>
                     <div class="col">
                         <p>
                            2 Наше предприятие оказывает услуги по установке спутникового телевидения и спутникового интернета. Если Вам необходим интернет в частном секторе  в городе,  интернет в селе или в загородном доме  или интернет на дачу -  интернет будет там, где он действительно нужен ! Высокоскоростной доступ обеспечивается от спутника, который на 100% покрывает все регионы Украины, покрытие имеется во всех городах и сёлах Украины. Убедиться в этом можно, посмотрев ссылку спутник ka-sat 9E</p>
                         <p>Для украинских пользователей спутниковый интернет открывает неограниченные возможности доступа к всемирной паутине в любой точке Украины, независимо от географического местонахождения. Через спутниковый интернет Вы можете делать всё что угодно: смотреть фильмы, общаться по Skype, слушать радио, музыку, просматривать почту и любые сайты без перебоев и зависаний, спутниковый интернет ТМ "Tooway" справится с любой задачей. Для работы спутникового интернета не имеет значения, где Вы находитесь или проживаете. Двунаправленная спутниковая связь обеспечит Вам абсолютную независимость от  проводов, от коммуникаций, от любых средств связи. Для выхода в глобальную сеть Вам потребуется только электричество 220В и комплект спутникового оборудования (антенна + модем), подробнее см. раздел "Оборудование".</p>
                     </div>
                 </div>
                     <p>Спутниковое телевидение также не утратило своей популярности, т.к. позволяет принимать любимые телеканалы вне зависимости от кабельных операторов.</p>
                 <div class="row">
                     <div class="col">
                             <div class="card" style="width: 25rem;">
                               <img src="/static/img/3.jpg" alt="sura" class="mw-100">
                             </div>
                     </div>
                     <div class="col">
                           <p> 3 Для украинских пользователей спутниковый интернет открывает неограниченные возможности доступа к всемирной паутине в любой точке Украины, независимо от географического местонахождения. Через спутниковый интернет Вы можете делать всё что угодно: смотреть фильмы, общаться по Skype, слушать радио, музыку, просматривать почту и любые сайты без перебоев и зависаний, спутниковый интернет ТМ "Tooway" справится с любой задачей. Для работы спутникового интернета не имеет значения, где Вы находитесь или проживаете. Двунаправленная спутниковая связь обеспечит Вам абсолютную независимость от  проводов, от коммуникаций, от любых средств связи. Для выхода в глобальную сеть Вам потребуется только электричество 220В и комплект спутникового оборудования (антенна + модем), подробнее см. раздел "Оборудование".</p>
                         <p>Спутниковое телевидение также не утратило своей популярности, т.к. позволяет принимать любимые телеканалы вне зависимости от кабельных операторов.</p>
                     </div>
                     <p> 3 Для украинских пользователей спутниковый интернет открывает неограниченные возможности доступа к всемирной паутине в любой точке Украины, независимо от географического местонахождения. Через спутниковый интернет Вы можете делать всё что угодно: смотреть фильмы, общаться по Skype, слушать радио, музыку, просматривать почту и любые сайты без перебоев и зависаний, спутниковый интернет ТМ "Tooway" справится с любой задачей. Для работы спутникового интернета не имеет значения, где Вы находитесь или проживаете. Двунаправленная спутниковая связь обеспечит Вам абсолютную независимость от  проводов, от коммуникаций, от любых средств связи. Для выхода в глобальную сеть Вам потребуется только электричество 220В и комплект спутникового оборудования (антенна + модем), подробнее см. раздел "Оборудование".</p>
                         <p>Спутниковое телевидение также не утратило своей популярности, т.к. позволяет принимать любимые телеканалы вне зависимости от кабельных операторов.</p>
                 </div>
                 <p>
                             4 Наше предприятие оказывает услуги по установке спутникового телевидения и спутникового интернета. Если Вам необходим интернет в частном секторе  в городе,  интернет в селе или в загородном доме  или интернет на дачу -  интернет будет там, где он действительно нужен ! Высокоскоростной доступ обеспечивается от спутника, который на 100% покрывает все регионы Украины, покрытие имеется во всех городах и сёлах Украины. Убедиться в этом можно, посмотрев ссылку спутник ka-sat 9E</p>
                         <p>Для украинских пользователей спутниковый интернет открывает неограниченные возможности доступа к всемирной паутине в любой точке Украины, независимо от географического местонахождения. Через спутниковый интернет Вы можете делать всё что угодно: смотреть фильмы, общаться по Skype, слушать радио, музыку, просматривать почту и любые сайты без перебоев и зависаний, спутниковый интернет ТМ "Tooway" справится с любой задачей. Для работы спутникового интернета не имеет значения, где Вы находитесь или проживаете. Двунаправленная спутниковая связь обеспечит Вам абсолютную независимость от  проводов, от коммуникаций, от любых средств связи. Для выхода в глобальную сеть Вам потребуется только электричество 220В и комплект спутникового оборудования (антенна + модем), подробнее см. раздел "Оборудование".</p>
                         <p>Спутниковое телевидение также не утратило своей популярности, т.к. позволяет принимать любимые телеканалы вне зависимости от кабельных операторов.</p>


              </div>
        </div>


{% endblock %}

{% block footer %}
<p> Спутниковое телевидение в каждый дом!</p>
{% endblock %}
