{% extends "index3.html" %}
<div class="container">
{% block title %}
    <span>Приветствуем тебя, Читатель, </span>
<span>        на нашем сайте.</span>
{% endblock %}
</div>
{% block main%}
<h3>Дружный коллектив писателей напряженно работает над написанием статей для наших многоуважаемых Читателей.
</h3>
<h3>А пока лирическое отступление...</h3>
<h2>Игорь Губерман-подборка коротких стихотворений</h2>
<br>
<p>Игорь Миронович Губерман, русско-израильский поэт, прославился благодаря своим афористичными и сатирическим четверостишиям, прозванных «гариками», хотя строк может быть также 2 и 6. В них он точно и метко подмечает все реалии жизни, со всеми её взлётами и падениями, радостями и горестями. Иногда он высказывается немного резко, но лишь потому, что это такая же неотъемлемая часть нашей жизни. Каждый «гарик» молниеносно расходится по сети и радует тысячи поклонников таланта Игоря Губермана. Остаётся только удивляться, как можно вместить такое ёмкое и хлёсткое наблюдение в коротенький стишок. «Гарики» Губермана – ещё один повод улыбнуться даже в те моменты, когда кажется, что поводов для улыбок нет:</p>
<br>
    <div class="container-fluid mt-4" style="background-color: #eee;">

                         <div class="row">
                             <div class="col">
                                <p>Бывает — проснешься, как птица,</p>
                                <p>крылатой пружиной на взводе,</p>
                                <p>и хочется жить и трудиться;</p>
                                <p>но к завтраку это проходит.</p>
                                 <br>
                                 <p>Во мне то булькает кипение,</p>
                                 <p> то прямо в порох брызжет искра;</p>
                                 <p>пошли мне, Господи, терпение,</p>
                                 <p>но только очень, очень быстро.</p>
                                 <br>
                                <p>Бывают лампы в сотни ватт,</p>

                                <p>но свет их резок и увечен,</p>

                                <p>а кто слегка мудаковат,</p>

                                <p>порой на редкость человечен.></p>
                                                             </div>
                             <div class="col">
                                 <div class="container">
                                        <img src="/static/img/guberman.jpg" alt="">
                                 </div>
                             </div>
                         </div>
    </div>
{% endblock %}